# Compiled Object files
*.slo
*.lo
*.o

CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeFiles

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binary Archives
*.exe
PostWar

# Created by https://www.gitignore.io/api/cmake

### CMake ###
build/*

# End of https://www.gitignore.io/api/cmake